.ls-wrap h4{
	margin-bottom:1rem; margin-top:1.5rem;
}
.ls-choice-wraps, .ls-first-choice-wrap{
	display:none; flex-direction:column;
}
.ls-choice-wraps label, .ls-first-choice-wrap label{
	margin-bottom:5px;
}
.all-tech-info{
	margin-left:10px; padding:0 10px 10px 10px;
}
.ati-instr{
	color:#2F6384; margin-bottom:6px;
}
.ati-hdr{
	text-decoration:underline; font-weight:900;
}
.ati-wrap{
	box-shadow:0 1px 1px rgba(16,22,26,.2); padding:6px; border:1px solid #ddd;
}